/.jira.d/*
!/.jira.d/config.yml
/.skaffold/cache
/config/vim/backupfiles
/config/vim/spell/en.utf-8.add.spl
/config/vim/swapfiles
/config/vim/undodir
/config/karabiner/automatic_backups
/config/zsh/*.zwc
/config/zsh/*.zwc.old
/config/zsh/.zcompdump
/config/zsh/.zim/*
!/config/zsh/.zim/zimfw.zsh
/dep_graph.*
/dotfiledeps
/keyboards/layout/*
/dependencies/node_modules
/venv

