/config/ansible
!/config/ansible/config
/config/aws/*
!/config/aws/config
/config/docker/*
!/config/docker/config.json
/config/vim/spell/en.utf-8.add.spl
/config/gcloud/*
!/config/gcloud/configurations
/config/karabiner/automatic_backups
/config/nvim/parser-src/build
/config/nvim/parser-src/src
/config/terminfo/db
/config/vim/.netrwhist
/config/zsh/*.zwc
/config/zsh/*.zwc.old
/config/zsh/.zcompcache
/config/zsh/.zcompdump
/config/zsh/.zcompdump.dat
/config/zsh/.zim/*
!/config/zsh/.zim/zimfw.zsh
/dep_graph.*
/keyboards/layout/*
/dependencies/aws
/dependencies/brew
/dependencies/node_modules
/dependencies/node_modules.zip
/dependencies/venv
/dependencies/vscode-js-debug
