/.config/karabiner/automatic_backups
/dep_graph.*
/dotfiledeps
/.jira.d/*
!/.jira.d/config.yml
/.skaffold/cache
/.vim/spell/en.utf-8.add.spl
/.vim/swapfiles
/keyboards/layout/*
/.zim/*
!/.zim/zimfw.zsh
