[submodule "dotbot"]
	path = dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "vim-tmux-navigator"]
	path = config/vim/pack/packages/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim-dirvish"]
	path = config/vim/pack/packages/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim-commentary"]
	path = config/vim/pack/packages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim-eunuch"]
	path = config/vim/pack/packages/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim-fugitive"]
	path = config/vim/pack/vcs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-repeat"]
	path = config/vim/pack/packages/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-rhubarb"]
	path = config/vim/pack/vcs/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim-surround"]
	path = config/vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-unimpaired"]
	path = config/vim/pack/packages/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "undotree"]
	path = config/vim/pack/packages/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "targets.vim"]
	path = config/vim/pack/packages/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "plenary.nvim"]
	path = config/nvim/pack/helpers/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim-treesitter"]
	path = config/nvim/pack/treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "gitsigns.nvim"]
	path = config/nvim/pack/vcs/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "telescope.nvim"]
	path = config/nvim/pack/ui/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "tokyonight.nvim"]
	path = config/nvim/pack/ui/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "vim-abolish"]
	path = config/vim/pack/packages/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim-dispatch"]
	path = config/vim/pack/packages/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim-obsession"]
	path = config/vim/pack/packages/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "vim-projectionist"]
	path = config/vim/pack/packages/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "nvim-treesitter-textobjects"]
	path = config/nvim/pack/treesitter/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "lspsaga.nvim"]
	path = config/nvim/pack/lsp/start/lspsaga.nvim
	url = https://github.com/glepnir/lspsaga.nvim
[submodule "nvim-lspconfig"]
	path = config/nvim/pack/lsp/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "lspkind-nvim"]
	path = config/nvim/pack/lsp/start/lspkind-nvim
	url = https://github.com/onsails/lspkind-nvim
[submodule "nvim-cmp"]
	path = config/nvim/pack/autocomplete/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "cmp-buffer"]
	path = config/nvim/pack/autocomplete/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "playground"]
	path = config/nvim/pack/treesitter/start/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "cmp-path"]
	path = config/nvim/pack/autocomplete/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "cmp-nvim-lsp"]
	path = config/nvim/pack/autocomplete/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "nvim-web-devicons"]
	path = config/nvim/pack/ui/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nightfox.nvim"]
	path = config/nvim/pack/ui/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "trouble.nvim"]
	path = config/nvim/pack/lsp/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "vim-sneak"]
	path = config/vim/pack/packages/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim-vsnip"]
	path = config/nvim/pack/snippets/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "nvim-autopairs"]
	path = config/nvim/pack/autocomplete/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "friendly-snippets"]
	path = config/nvim/pack/snippets/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "cmp-vsnip"]
	path = config/nvim/pack/autocomplete/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "cmp-nvim-lsp-signature-help"]
	path = config/nvim/pack/autocomplete/start/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help
[submodule "nvim-dap-vscode-js"]
	path = config/nvim/pack/dap/start/nvim-dap-vscode-js
	url = https://github.com/mxsdev/nvim-dap-vscode-js
[submodule "nvim-dap"]
	path = config/nvim/pack/dap/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim-treesitter-context"]
	path = config/nvim/pack/treesitter/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "aerial.nvim"]
	path = config/nvim/pack/treesitter/start/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim
[submodule "nvim-colorizer.lua"]
	path = config/nvim/pack/ui/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "fugitive-gitlab.vim"]
	path = config/vim/pack/vcs/start/fugitive-gitlab.vim
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "copilot.vim"]
	path = config/nvim/pack/autocomplete/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "which-key.nvim"]
	path = config/nvim/pack/ui/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim
[submodule "diffview.nvim"]
	path = config/nvim/pack/vcs/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "config/nvim/pack/ui/start/lualine.nvim"]
	path = config/nvim/pack/ui/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "config/nvim/pack/ui/start/ChatGPT.nvim"]
	path = config/nvim/pack/ui/start/ChatGPT.nvim
	url = https://github.com/jackMort/ChatGPT.nvim
[submodule "config/nvim/pack/helpers/start/nui.nvim"]
	path = config/nvim/pack/helpers/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "config/vim/pack/packages/start/vim-easy-align"]
	path = config/vim/pack/packages/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
