# Better vi-mode.
zmodule jeffreytse/zsh-vi-mode
# Enables and configures smart and extensive tab completion.
# completion must be sourced after zsh-users/zsh-completions
zmodule completion

# Additional completion definitions for Zsh.
zmodule zsh-users/zsh-completions
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions

# Fish-like syntax highlighting for Zsh.
# zsh-users/zsh-syntax-highlighting must be sourced after completion
zmodule zsh-users/zsh-syntax-highlighting
