certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.8
cli-helpers==2.2.0
click==8.0.3
configobj==5.0.6
cryptography==36.0.0
defusedxml==0.7.1
httpie==2.6.0
idna==3.3
importlib-resources==5.4.0
mycli==1.24.1
prompt-toolkit==3.0.23
pyaes==1.6.1
pycparser==2.21
Pygments==2.10.0
PyMySQL==1.0.2
pyperclip==1.8.2
PySocks==1.7.1
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.3.1
tabulate==0.8.9
urllib3==1.26.7
wcwidth==0.2.5
zipp==3.6.0
