snippet dquo
&ldquo;$1&rdquo;
endsnippet

snippet squo
&lsquo;$1&rsquo;
endsnippet

snippet href
[${1:href_name}]: ${2:http://example.com}
endsnippet

snippet it
_$1_
endsnippet

snippet it's
it&rsquo;s
endsnippet

snippet img
![${1:alt text}](${2:/path/to/img.jpg} "${3:Optional title}")
endsnippet

snippet h1
# $1
endsnippet

snippet h2
## $1
endsnippet

snippet h3
### $1
endsnippet

snippet h4
#### $1
endsnippet
