snippet resource
${1:ComponentName}:
    Type: AWS::$2::$3
    Properties:
        $4
endsnippet

snippet output
${1:ID}:
	Value: ${2:Value}
endsnippet

snippet outline
Outputs:
Resources:
endsnippet

snippet kv
${1:key}: ${2:value}
endsnippet

snippet href
[${1:TEXT}|${2:HREF}]
endsnippet
snippet knamespace
apiVersion: v1
kind: Namespace
metadata:
  name: ${1:namespace}
endsnippet
