<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>1mcp.local.job</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-ic</string>
    <string>1mcp --config ${HOME}/.config/1mcp/mcp.json</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/1mcp.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/1mcp.out</string>
</dict>
</plist>
