<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>1mcp.local.job</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>-ic</string>
    <string>exec /opt/homebrew/bin/op run --env-file ${HOME}/.config/1mcp/.env.tmpl -- 1mcp serve</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ONE_MCP_PORT</key>
		<string>3050</string>
		<key>ONE_MCP_ENABLE_AUTH</key>
		<string>false</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/1mcp.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/1mcp.out</string>
</dict>
</plist>
