export MCP_CONTEXT7_API_KEY="op://Employee/Context7/API Key"
export GITHUB_MCP_PAT="op://Journey/GitHub/Fine Grained Token"

export XERO_CLIENT_ID=""op://Employee/Xero/MCP Client ID""
export XERO_CLIENT_SECRET=""op://Employee/Xero/MCP Client Secret""

export SUPABASE_ACCESS_TOKEN="op://IT/Supabase/CLI Access Token"

export JIRA_API_TOKEN="op://Employee/Atlassian/API Token 26"

export MOCHI_API_KEY="op://Employee/Mochi/MCP API Key"
