export SUPABASE_ACCESS_TOKEN="op://IT/Supabase/CLI Access Token"

export JIRA_API_TOKEN="op://Employee/Atlassian/API Token 26"

export GITHUB_PACKAGES_TOKEN=""op://IT/GitHub/Tokens/Read Packages""

export OPENROUTER_API_KEY="op://IT/OpenRouter.ai/OpenClaw Api Key"

export LANGFUSE_PUBLIC_KEY="op://IT/Star Langfuse Dev/username"
export LANGFUSE_SECRET_KEY="op://IT/Star Langfuse Dev/credential"

export VERCEL_TOKEN="op://Employee/j3xqgrm2vsuinz4azedjfz4hh4/CLI Token"
